# Ftso protocol data provider deploy settings
DATA_PROVIDER_CLIENT_PORT=3100
DATA_PROVIDER_CLIENT_BASE_PATH=""
# DATA_PROVIDER_CLIENT_API_KEYS=12345,abcdef,abc123

# DB credentials and settings (for connecting to FSP C-Chain indexer database)
DB_USERNAME="root"
DB_PASSWORD="root"
DB_HOST="localhost"
DB_PORT=3306
DB_NAME="flare_ftso_indexer"

# epoch settings
EPOCH_SETTINGS="1704270616,100,1704250616,20"
ES_FIRST_VOTING_ROUND_START_TS=1704250616
ES_VOTING_EPOCH_DURATION_SECONDS=20
ES_FIRST_REWARD_EPOCH_START_VOTING_ROUND_ID=1000
ES_REWARD_EPOCH_DURATION_IN_VOTING_EPOCHS=5

# Price Provider connectyion url
PRICE_PROVIDER_BASE_URL="http://localhost:3101"

# Example Price Provider (for testing only)
PRICE_PROVIDER_CLIENT_PORT=3101
PRICE_PROVIDER_CLIENT_BASE_PATH=""
PROTOCOL_ID=1

# FTSO specific timings
FTSO_REVEAL_DEADLINE_SECONDS=10