workflow:
  rules:
    - if: '$CI_OPEN_MERGE_REQUESTS != null && ($CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "webide")'
      when: never
    - when: always

.node_pnpm_job:
  image: node:24
  cache:
    - key:
        files:
          - pnpm-lock.yaml
      paths:
        - node_modules
        - .pnpm-store
      policy: pull-push
  before_script:
    - corepack enable
    - corepack prepare "$(node -p "require('./package.json').packageManager")" --activate
    - pnpm config set store-dir .pnpm-store
    - pnpm install --frozen-lockfile

lint:
  extends: .node_pnpm_job
  stage: test
  script:
    - |
      set +e  # don't stop on first failure
      pnpm lint:check
      LINT_EXIT=$?
      pnpm format:check
      FORMAT_EXIT=$?
      set -e

      if [ "$LINT_EXIT" -ne 0 ] || [ "$FORMAT_EXIT" -ne 0 ]; then
        echo "lint:check exit=$LINT_EXIT, format:check exit=$FORMAT_EXIT"
        exit 1
      fi

test-all:
  extends: .node_pnpm_job
  stage: test
  needs: []
  script:
    - pnpm test:all

# TODO: enable coverage reports
# test-coverage:
#   extends: test-all
#   script:
#     - pnpm test:coverage
