workflow:
  rules:
    - if: '$CI_OPEN_MERGE_REQUESTS != null && ($CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "webide")'
      when: never
    - when: always

test-all:
  stage: test
  needs: []
  image: node:18
  cache:
  - key:
      files:
      - yarn.lock
    paths:
    - node_modules
    - .yarn-cache
    policy: pull-push
  before_script:
  - yarn install --frozen-lockfile --cache-folder .yarn-cache
  script:
  - yarn test:all

# TODO: enable coverage reports
# test-coverage:
#   extends: test-all
#   script:
#     - yarn test:coverage
